@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

/* 
font-family: 'Montserrat', sans-serif; 
*/

:root {
    --color-primario: #0a2ff1;
    --color-secundario: #000000;
    --color-terciario: #ffffff;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 40%;
    margin: auto;
}

div {

    align-items: center;
    display: flex;
    justify-content: center;

}

p {
    color: var(--color-primario);
}

.elemento2 {
    background-color: var(--color-secundario);
}

.elemento2 p {
    color: var(--color-terciario);
}

.elemento1,
.elemento2 {
    height: 200px;
}

.cabecera,
.fin {
    background-color: var(--color-primario);
}

.elemento1 p {
    font-size: 66.6px;
    font-weight: 900;
    margin-bottom: 50px;
}



.elemento2 p {
    font-size: 197.3px;
    font-weight: 900;
}

.elemento3 {
    height: 500px;
}

.elemento3 p {
    color: black;
    font-size: 217.3px;
    font-weight: 900;
}

.elemento4 {
    height: 100px;
    font-size: 48px;
    font-weight: 900;
}

.sp1 {
    font-weight: 600;
}

.sp2 {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-size: 60px;
}

.elemento5 {
    height: 100px;
}

.elemento5 p {
    font-size: 58.6px;
    font-weight: 600;
    margin-bottom: -30px;
}

.cabecera {
    height: 50px;
}

.fin {
    height: 100px;
}