@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

/* 
font-family: 'Montserrat', sans-serif; 
*/

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 40%;
    margin: auto;
}

div {

    align-items: center;
    display: flex;
    justify-content: center;

}

.elemento1,
.elemento3,
.elemento5 {
    background-color: black;
}

.elemento1,
.elemento3,
.elemento5 p {
    color: white;
}

.elemento1,
.elemento2 {
    height: 200px;
}

.elemento1 p {
    font-size: 66.6px;
    font-weight: 900;
    margin-bottom: 50px;
}



.elemento2 p {
    font-size: 197.3px;
    font-weight: 900;
}

.elemento3 {
    height: 500px;
}

.elemento3 p {
    font-size: 217.3px;
    font-weight: 900;
}

.elemento4 {
    height: 100px;
}

.elemento4 p {
    font-size: 60px;
    font-weight: 900;
}

.elemento4 p span {
    font-size: 48px;
    font-weight: 600;
}

.elemento5 {
    height: 190px;
}

.elemento5 p {
    font-size: 58.6px;
    font-weight: 600;
}